language: nodejs
node_js:
- 10
- 12
- 14
os:
- linux
- osx
- windows
script: npm run test-ci
deploy:
  provider: releases
  api_key:
    secure: JSfLk1VPcLtcHcg8qyKehzOXGsGcx8/mEsGe5gJ2irIucai1ODJ7J6uRaOERBuTa58lV6f/IC8FLwNd3CecDNko6sfdOjb3VTkocJYDrlL9ljaoBTa4ykeAC7hUj+lSnbpIVc7gAAA8uXxXRPMoGH5swQHz3WhLW88ok8AzNG6cpn/G5VPgEbToYHGqBz8sdA1KiVPDQTMq/bJOyWl4M3HNziadQKyY2p1wshbHASDAvM3hWaFujj1ny9Q38RmiqJdBldguCLi8wYxnxDdouSdCWR2tWgUbTnqWuxK0Mz8fJhgAOj6MrwbgklJWUoPzxv6TXJHIVQkNyeBWaynMdHupGhpvIP1ax/PU3+rKDurYszsQhfilRdY9RK+1xpm5g/uKOLYnMQDMw1LByqSUde/ZEm0EFxnk3ObhuJxAaddzTexHv+KyUTmpAHYEMbPcXrC8pNgtpLA8ptNZ1sD79Kpb6Ia1Gv9AJXvudOsOvaQi7fv3RytbXM02wM4NCo8b06GtZpOh0JA+FpV1mpHXUwSJQ3e4GfXBSDwSC8OUHSL4wjT9Wden3DjVMuFiHZHPHw12XPEOGC6Nn8fyfLY2djBclavbPJX9WgIrnCOl9yrxoKSUvHVyEkIbh3LvP2FmFZ/Dhve9UOcACFCUgeyKTrDzZaKJ/FTk/pzrtXojGL0Q=
  file: prebuilds/*
  file_glob: true
  skip_cleanup: true
  overwrite: true
  on:
    repo: bengl/sbffi
    tags: true
